*{
    margin:0;
    padding:0;
    font-family: 'Trebuchet MS',  sans-serif;
}

body{
    background-color: #f4f4fc;
}

header{
    width: 100%;
    height: 70px;
}

.logo{
    position: absolute;
    display: flex;
    color: #495057;
    width: 7%;
    height:4%;
    padding-top: 0px;
    padding-left:0px;

}

main{
    position: absolute;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}

.contenedorcajatexto{
    position: absolute;
    left: 200px;
    top: 10px;
    padding-left: 100px;
    width: 1080px;
    height: 600px;
}

.cajatexto{
    width: 80%;
    height: 80%;
    border: none;
    background-color: #f4f4fc;   
    cursor:pointer;
    color: #0a3871;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Trebuchet MS',  sans-serif;   
}

.cajatexto::placeholder{
    color:#0A3871;
}

.alerta{
    position: absolute;
    top: 500px;
    left: 370px;
    display:flex;
    color: #495057;
}

.contenedor-botones{
    position:absolute;
    top: 600px;
    height: 80px;
    padding-left: 15%;
    padding-top: 15px;
}

.btn-encriptar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color:#0A3871;
    color:white;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Trebuchet MS',  sans-serif;
    border:none;
    margin-right: 20px;
    cursor:pointer;      
}

.btn-desencriptar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color:#D8DFE8;
    color:#0A3871;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Trebuchet MS',  sans-serif;
    border:1px solid #0A3871;
    cursor:pointer;      
}

.seccion2{
    display: block;
    position:relative;
    width: 300px;
    height: 640px;
    right: 30px;
    padding-right: 20px;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0,0,0, 0.50)
}

.contenedormunieco{
    position:absolute;
    left:50px;
    top: 5px;
    box-sizing: border-box;
    padding-top: 15px;
}

.contenedor-parrafo{
    position: absolute;
    box-sizing: border-box;
    top: 520px;
    left: 40px;
       
}

.contenedor-parrafo h3{
    font-size: 22px;
    font-weight: 700;
    font-family: 'Trebuchet MS',  sans-serif;
    text-align: center;
    color: #343A40;    
}

.contenedor-parrafo p{
    font-family: 'Trebuchet MS',  sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #495057;
    padding-top: 19px;    
}

.contenedor-resultado{
    position:absolute;
    bottom: 410px;
    width: 320px;
    height: 400px;
    padding: 0;
    box-sizing: border-box;
    margin-left: 25px;
}

.contenedor-resultado p{
    margin-top: 70%;
    color:rgb(17, 53, 163);
    font-size: 25px;
    
}

.contenedor-copiar{
    display: flex;
    position: absolute;
    bottom: 400px;
    top: 600px;
    background-color:red;
    color:pink;
    padding-left: 40px;
}

.btn-copiar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color:#0a0a71;
    color:white;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Trebuchet MS',  sans-serif;
    border: 1px solid #0A3871;
    cursor: pointer;
    position: relative;
    top: 50px;
    right: 60px;
}

.ocultar{
    display: none;
}


.copyright{
    position: relative;
    text-align: center;
    top: 710px;
    color: blue;
}